alabaster==0.7.10
appdirs==1.4.3
Babel==2.5.1
Brlapi==0.6.6
chardet==3.0.4
cycler==0.10.0
decorator==4.1.2
docutils==0.14
idna==2.6
imagesize==0.7.1
ipython==6.2.1
ipython-genutils==0.1.0
isc==2.0
jedi==0.11.1
Jinja2==2.10
louis==3.4.0
lxml==4.1.1
MarkupSafe==1.0
matplotlib==2.1.0
numpy==1.13.3
packaging==16.8
parso==0.1.1
pexpect==4.3.0
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
py3status==3.6
pycairo==1.15.4
Pygments==2.2.0
pygobject==3.26.1
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
pyxdg==0.26
requests==2.18.4
simplegeneric==0.8.1
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.6.5
sphinx-rtd-theme==0.2.4
sphinxcontrib-websupport==1.0.1.dev20170522
SQLAlchemy==1.1.15
team==1.0
traitlets==4.3.2
urllib3==1.22
virtualenv==15.1.0
wcwidth==0.1.7
Whoosh==2.7.4
